@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap" rel="stylesheet');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@300,400,500,700,800,900&display=swap" rel="stylesheet');
@import url('"https://api.fontshare.com/v2/css?f[]=boska@400,401,500,701,901&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

:root{
    --sidebar-color: #0f0f0f;
    --primary-color: #171717;
    --primary-color-light: #3e3e3e;
    --toggle-color: #fff;
    --text-color: #ffffff;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body{
    min-height: 100vh;
    background-color: #000;
    padding: 0;
    margin-left: 15px;
    animation: fadeInAnimation ease 0.5s;
    animation-fill-mode: forwards;
}
html {
  scroll-behavior: smooth;
}
#popupOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.69);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      opacity: 0;
      animation: ease-out 0.6s popupAnim;

    }
    #popupOverlay.show {
      opacity: 1;
      pointer-events: all;
    }
    #popupOverlay.show #popup {
      transform: translateY(0);
    }
    #popup {
      object-fit: cover;
      border-radius: 10px;
      text-align: center;
      height: 370px;
      width: 630px;
      border-radius: 12px;
      outline: 1px solid #ffffff3a;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    #closeBtn {
    padding: 10px;
      border: none;
      background: #dcdcdc00;
      outline: 2px solid #ffffff;
      color: rgb(255, 255, 255);
      font-size: 24px;
      cursor: pointer;
      border-radius: 15px;
    }
    #popupAction {
    padding: 10px;
    margin-right: 6px;
      border: none;
      background: #dcdcdc;
      outline: 1px solid #585858;
      color: rgb(0, 0, 0);
      font-size: 24px;
      cursor: pointer;
      border-radius: 15px;
    }
.popupcontrolbuttons{
    text-align: center;
    transform: translateY(-80px);
}
.popupcontrolbuttons i{
    transform: scale(1.3) translateY(1px);
}
.popupimg{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}
@keyframes popupAnim {
    0% {
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    padding: 5px 14px;
    background: #000;
    z-index: 100;
    border-right: #3f3f3f solid 1px;
}
.sidebar.close{
    width: 77px;
}
.gameadbox{
    background-color: #ffffff1a;
    width: 1080px;
    margin-top: 30px;
    padding-top: 7px;
    text-align: center;
    margin-left: 80px;
    height: 170px;
    padding-top: 20px;
    border-radius: 20px;
}
.gameadbox h2 b{
    font-weight: 400;
}
.gameadbox h2{
    color: #c7c7c7;
}
.gameadbox h3{
    color: #ededed;
    font-weight: 500;
    font-size: 24px;
}
.gameadbox h3 b{
    margin-right: 3px;
}
.gameadbox .gamefeedbuttons{
    padding: 9px;
}
.gameadbox .gamefeedbuttons i{
    transform: translateY(3px);
}
.gameadbox .gamefeedbuttons button{
    border: none;
    border-radius: 12px;
    margin: 3px;
    font-size: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    transition: ease 0.3s;
    cursor: pointer;
    color: #000000;
}
.gameadbox a{
    text-decoration: none;
}
.gameadbox .gamefeedbuttons button:hover{
    transform: scale(1.05);
}
.gameazbanner{
    width: 1080px;
    margin-left: 80px;
    border-radius: 20px;
    border: 1px solid #474747;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 0.3s ease;
}
.gameazbanner:hover{
    transform: scale(0.98);
    cursor: pointer;
}
.gameazbanner img{
    width: 900px;
}
#searchError{
    margin-left: 90px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
    width: 600px;
}
hr.rounded {
    border-top: 1px solid #ffffff79;
    border-bottom: 1px solid #ffffff79;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .topbar{
    position: fixed;
    transform: translateY(-58px) translateX(-15px);
    height: 63px;
    z-index: 9999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.898);
    backdrop-filter: blur(10px);
    border-bottom: #3f3f3f 1px solid;
}
.topbar #menuicon{
    color: #dedede;
    transform: translateY(16px) translateX(23px);
    font-size: 30px;
    z-index: 9999;
    transition: ease 0.3s;
    border-radius: 5px;
    cursor: pointer;
}
.topbar img{
    height: 42px;
    margin-left: 105px;
    transform: translateY(8px);
    vertical-align: middle;
    transition: ease 0.4s;
}
.topbar img:hover{
    transform: translateY(8px) scale(0.95);
    cursor: pointer;
}
.topbar .form-search{
    transform: translateX(320px) translateY(-34px);
}
.topbar .form-search .icon{
    color: #fff;
    font-size: 20px;
    transform: translateX(40px) translateY(2px);
}
.topbar .form-search input{
    height: 40px;
    width: 300px;
    background-color: #181818;
    border: none;
    outline: 1px solid #464646;
    border-radius: 14px;
    color: #fff;
    font-size: 17px;
    padding-left: 45px;
    transition: ease 0.5s;
}
.topbar .form-search input:hover{
    background-color: #424242;
}
.topbar .form-search input::placeholder{
    color: #bebebe;
}
.topbar .search .icon{
    transform: translateY(2px);
}
.topbar .search:hover{
    background-color: #f1f1f10b;
}
.right-icons{
    float: right;
    transform: translateY(-70px);
    margin-right: 80px;
}
.right-icons button{
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    margin-left: 7px;
    font-size: 16px;
    background-color: #0e0e0e;
    color: #fff;
    outline: 1px solid #545454;
    transition: 0.5s ease;
    cursor: pointer;
}
.right-icons .leftbutton{
    background-color: #0b0b0b;
    color: #fff;
    outline: 1px solid #262626;
}
.right-icons .azbutton:hover{
    background-color: #252525;
}
.right-icons button i{
    transform: translateY(2px);
    font-size: 18px;
}
.right-icons .leftbutton i{
    color: #ff0048;
}
.sidebar li{
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0);
    }
  }
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    transform: translateX(-6px);
    align-items: center;
    justify-content: center;
    font-size: 27px;
}

.sidebar .text,
.sidebar .icon{
    color: #ffffffec;
    transition: var(--tran-03);
}
.contactbuttons{
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.standardbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 3px;
    font-size: 21px;
    border: none;
    background-color: #303030;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.standardbtn:hover{
    background-color: #4e4e4e;
}
.footer{
    background-color: #ffffff1a;
    width: calc(100% - 10px);
    margin-left: 30px;
    height: 115px;
    padding-top: 10px;
    padding-bottom: 15px;
    outline: 1px solid #434343;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer .leftelems{
    position: absolute;
    margin-left: 70px;
    left: 0;
}
.footer .rightelems{
    position: absolute;
    right: 0;
    margin-right: 40px;
}
.footer .rightelems button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 4px;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    background-color: #303030;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.footer .rightelems button:hover{
    background-color: #4e4e4e;
}
.footer img{
    height: 33px;
    margin-bottom: 5px;
}
.footer h1{
    color: #fff;
    transform: translateY(-11px) translateX(7px);
    font-weight: 500;
    font-size: 21px;
    letter-spacing: -0.5px;
}
.footer h3{
    transform: translateX(7px) translateY(-5px);
    color: #ffffffba;
    font-weight: 300;
}
.footer b{
    font-weight: 500;
    color: #ffffffd4;
}
.sidebar .menu{
    margin-top: 125px;
}
.sidebar li a{
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    transition: var(--tran-03);
}
.nav-link .label{
    color: rgba(255, 255, 255, 0.708);
    position: absolute;
    transform: translateY(27px);
    font-size: 15px;
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.game-wrapper{
    display: block;
    margin-right: 160px;
}
.game-wrapper .game{
    margin-left: 71px;
    margin-top: 13px;
    border: none;
    outline: none;
    height: 502px;
    width: 791px;
    border-radius: 11px;
    background-color: #101010c8;
}
.game-wrapper ins{
    border-radius: 13px;
}
.game-controls h1{
    margin-left: 20px;
    transform: translateY(30px);
    width: 230px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.gameframe .ad-box{
    margin-top: 260px;
    transform: translateX(-237px);
    background-color: #1a1a1a;
    border-radius: 15px;
    width: 270px;
    height: 236px;
}
.gameframe .ad-box h1{
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    transform: translateY(6px);
    letter-spacing: 1.01px;
    font-size: 11px;
}
.ad-box .adsbygoogle{
    transform: translateX(6px) translateY(10px);
    height: 202px;
    width: 257px;
}
.game-controls .age-rating{
    color: #fff;
    margin-left: 20px;
    padding: 4px;
    cursor: default;
    border-radius: 10px;
    padding-inline: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
    background-color: #1e1e1e;
}
.game-controls .tags{
    display: flex;
    position: inline-block;
}
.game-controls .category{
    color: #fff;
    margin-left: 10px;
    padding: 4px;
    cursor: default;
    border-radius: 10px;
    padding-left: 10px;
    padding-inline: 12px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    background-color: #1e1e1e;
}
.control-buttons{
    display: flex;
    position: inline-block;
}
.game-controls button{
    margin-top: 40px;
    transform: translateX(20px);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    font-weight: 500;
    padding-bottom: 6px;
    border-radius: 12px;
    font-size: 19px;
    border: none;
    color: #dddddd;
    outline: 1px solid #363636;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: ease 0.3s;
}
.game-controls .fav-btn{
    margin-left: 8px;
}
.fav-btn .active{
    background-color: #dbd6a9;
    color: #000000;
}
.game-controls .fullscreen:hover{
    background-color: #3c3c3c;
    transform: translateX(20px) scale(0.95);
}
.game-controls .fav-btn:hover{
    background-color: #474820;
    transform: translateX(20px) scale(0.95);
}
.game-controls .fav-btn i{
    font-size: 24px;
    transform: translateY(1.5px);
}
.game-controls i{
    color: #fff;
    transform: translateY(1px);
}
.gameframe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.fav-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease-out;
    z-index: 9999;
}

.fav-message {
    background: #111;
    outline: 1px solid #414141;
    padding: 30px 50px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: 0.5px;

    transform: translateY(20px) scale(0.85);
    opacity: 0;
    transition:
        transform 0.35s cubic-bezier(0.25, 1.3, 0.35, 1),
        opacity 0.35s ease-out;
}
.fav-icon {
    font-size: 2.2em;
    margin-bottom: 10px;
    color: #33ff81;
}
.fav-overlay.show {
    opacity: 1;
    pointer-events: auto;
}
.fav-overlay.show .fav-message {
    transform: translateY(0) scale(1);
    opacity: 1;
}
.message{
    display: none;
}
.homepage{
    position: relative;
    margin-top: 57px;
    top: 0;
    left: 40px;
    width: calc(100% - 70px);
}
.gameslist{
    animation: ease-out 0.6s slideInFromLeft;
}
.gameslist .letter{
    display: absolute;
    text-align: center;
    transform: translateY(20px);
    border-radius: 15px;
    margin-bottom: -50px;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.scroll-container{
    margin-left: 8px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 198px);
    gap: 18px;
  }
  .scroll-container img {
    position: relative;
    object-fit: cover;
    margin-left: 11px;
    border-radius: 21px;
    outline: 1px solid #505050;
    height: 120px;
    width: 200px;
    transition: .4s ease;
}
.scroll-container img:hover{
    cursor: pointer;
    opacity: 0.9;
    outline: #ababab solid 4px;
    transform: scale(1.05);
    transition: 0.4s ease;
}
.scroll-container #longimg:hover{
    cursor: pointer;
    opacity: 0.9;
    outline: #e4e4e4 solid 3.5px;
    transform: scale(1.025);
    transition: 0.5s ease;
}
.gameslist .aztitle{
    color: #fff;
    transform: translateY(7px);
    margin-left: 80px;
    padding: 10px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -0.7px;
}
.gameslist hr{
    border-top: 1.5px solid #ffffff44;
    border-bottom: 1.3px solid #ffffff44;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 35px;
}
.gameslist .gameletter{
    color: #fff;
    margin-left: 80px;
    padding: 10px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Cabinet Grotesk', sans-serif;
}
.addemo{
    width: 900px;
    height: 100px;
}
.azadbanner{
    background-color: #52525247;
    margin-left: 80px;
    margin-bottom: 12px;
    margin-right: 50px;
    height: 145px;
    border-radius: 20px;
    padding-right: 20px;
    text-align: center;
    padding: 10px;
}
.azadbanner h4{
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.gameslist .azgame{
    background-color: #44444447;
    margin-left: 80px;
    margin-bottom: 12px;
    margin-right: 50px;
    outline: 1px solid #363636;
    height: 165px;
    border-radius: 20px;
    padding-right: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
}
.gameslist .azgame:hover{
    transform: scale(1.05);
}
.gameslist .azgame .azgameicon{
    float: left;
    height: 100%;
    width: 25%;
    padding: 15px;
    border-radius: 35px;
    object-fit: cover;
}
.gameslist .azgame .azgametitle{
    padding-top: 15px;
    padding-bottom: 3px;
    color: #fff;
    font-weight: 600;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 30px;
    letter-spacing: -0.7px;
}
.gameslist .azgame .azgamedesc{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 13px;
}
.gameslist .azgame .azcategories{
    color: #fff;
    position: absolute;
    font-weight: 500;
    bottom: 0;
    margin-bottom: 22px;
    margin-left: calc(25% - 6px);

}
.gameslist .azgame .azcategories .info{
    background-color: #323232;
    padding: 5px;
    border-radius: 9px;
    margin-right: 2px;
}
.letterselector{
    margin-left: 90px;
    display: flex;
}
.letterselector .lettericon{
    width: 29px;
    height: 35px;
    font-size: 26px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    vertical-align: middle;
    color: #c2c2c2;
    text-align: center;
    outline: 1px solid #4c4c4c;
    background-color: #222222;
    cursor: pointer;
    transition: ease 0.3s;
}
.letterselector .lettericon:hover{
    width: 40px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    background-color: #5c5c5c;
    cursor: pointer;
    transition: ease 0.3s;
}
.letterselector .lettericonactive{
    width: 30px;
    height: 35px;
    font-size: 26px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    cursor: default;
}
.gameslist .letter{
    display: absolute;
    text-align: center;
    transform: translateY(20px);
    border-radius: 15px;
    margin-bottom: -50px;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
#favouritesContainer{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 194px);
    gap: 18px;
}
#favouritesContainer p{
    color: #f8f8f8;
    font-size: 28px;
}
.hometext{
    display: flex;
    margin-left: 8px;
}
.hometext .dateseletile{
    font-weight: 600;
    font-family: 'Boska', serif;
    font-style: italic;
    color: #c1c1c1;
    border-radius: 10px;
}
.featuredtitle{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-left: 15px;
}
.categorypagetitle{
    color: #fff;
    font-size: 29px;
    transform: translateY(10px);
    margin-left: 40px;
    font-family: 'Cabinet Grotesk';
    font-weight: 800;
}
#favouritesContainer{
    margin-left: 22px;
}
.featuredmonth .divider{
    margin-right: 10px;
    margin-left: 10px;
    color: #696969;
}
.featuredmonth{
    background: linear-gradient(to right, rgb(194, 194, 194), rgb(136, 136, 136));
    font-size: 30px;
    font-weight: 500;
    background-clip: text;
    color: transparent;
}
.hometext .category{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
}
.hometext .category i{
    transform: translateY(2px);
}
.hometext .viewallbtn{
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 21px;
    color: #000;
    background-color: #dadada;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
}
.hometext .viewallbtn:hover{
    transform: scale(0.95);
    background-color: #bebebe;
    cursor: pointer;
}
.carousels{
    margin-left: 70px;
}
.headline{
    color: #fff;
    font-size: 32px;
    margin-left: 90px;
    margin-bottom: 5px;
    width: 100%;
}
.subheading{
    margin-left: 90px;
    color: #cbcbcb;
    margin-bottom: 10px;
}
.bodytext{
    color: #cbcbcb;
    font-size: 22px;
    margin-left: 90px;
    width: calc(100% - 90px);
    margin-bottom: 15px;
}
.footnote{
    color: #fff;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
.importanthomemessage{
    color: #ffffff;
    width: calc(100% - 90px);
    background-color: #280046;
    padding: 15px;
    outline: 1px solid #494949;
    border-radius: 14px;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 20px;
    align-content: center;
    display: flex;
}
.importanthomemessage h4{
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.importanthomemessage .messagehomelink{
    font-size: 17px;
    border: none;
    padding: 6px;
    color: #fff;
    background-color: transparent;
    margin: auto;
    outline: 1px solid #fff;
    border-radius: 12px;
    transition: ease 0.2s;
}
.importanthomemessage .messagehomelink:hover{
    background-color: #fff;
    cursor: pointer;
    color: #000;
}
.slider-container {
    position: relative;
    width: calc(100% - 50px);
    overflow: hidden;
    display: flex;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
  }
  #recentlyPlayedSlider{
    overflow-y: hidden;
  }
   .recentslide {
    flex: 0 0 auto;
    height: 100px;
    width: 170px;
    margin-right: 11px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    outline: 1px solid #6b6a6a;
    transition: ease 0.4s;
  }
    .recentslide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: ease 0.5s;
  }
  
  .recentslide:hover {
    transform: scale(1.05);
    outline: 4px solid #ffffffa7;
    opacity: 90%;
  }
  .topbannersavedgames{
    display: flex;
  }
  .myfavsbannerbox{
    width: 25%;
    margin-top: 5px;
    display: flex;
    transform: translateX(20px);
    padding: 10px;
    height: 340px;
    display: inline;
    border-bottom: 1px solid #5d5d5da7;
    background-color: #090909;
  }
  .myfavsbannerbox .favboxtopitems{
    display: flex;
    width: 100%;
    transform: translateY(-10px);
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: solid #464646 1px;
  }
  .myfavsbannerbox .savedgboxcaption{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }
  .myfavsbannerbox i{
    color: #fff56a;
  }
  .favourites-empty {
    text-align: center;
    color: #b1b1b1;
    font-size: 1.1em;
    padding: 15px;
    display: none;
}
.favourites-empty h2{
    margin-top: 10px;
    font-size: 20px;
    color: #adadad;
    font-weight: 500;
    margin-bottom: 10px;
}
.favourites-empty a{
    font-size: 17px;
    line-height: 10px;
}
.favourites-empty b{
    font-size: 20px;
}
.favboxtopitems .savedviewallbtn{
    font-size: 16px;
    padding: 5px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 110px;
    text-align: center;
    transition: ease 0.2s;
    outline: 1px solid #9a9a9a;
    position: absolute;
    justify-content: flex-end;
    right: 0;
    font-weight: 500;
    transform: translateY(-3px);
    margin-right: 13px;
  }
  .savedviewallbtn:hover{
    transform: scale(0.95) translateY(-3px);
    background-color: #5c5c5c;
    cursor: pointer;
  }
  .favourites-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
}
.favourites-grid .fav-card {
    height: 75px;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
    outline: 1px solid #929292;
    transition: transform 0.2s, outline 0.2s;
}
.favourites-grid .fav-card:hover {
    transform: scale(0.95);
    outline: 3px solid #ffe100a7;
}
.favourites-grid img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
  .slide {
    min-width: 200px;
    flex: 0 0 auto;
    height: 120px;
    width: 200px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    outline: 1px solid #6b6a6a;
    transition: ease 0.4s;
  }
  #longslide{
    width: 515px;
  }
  #trendslide:hover{
    transform: scale(1.08);
    outline: 4px solid #ffffff52;
  }
  #trendslide img{
    opacity: 90%;
  }
  .slide .hotrank{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-10px);
    z-index: 1;
    color: #ffffff;
    padding: 4px;
    background: linear-gradient(to right, rgb(255, 149, 0), rgba(255,0,0,1));
    font-weight: 800;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    border-radius: 10px;
  }
  .captionnew{
    position: absolute;
    color: #000000;
    padding: 3px;
    background: linear-gradient(to right, rgb(194, 207, 255), rgb(233, 179, 255));
    font-weight: 700;
    outline: 1px solid #737373;
    transform: translateX(9px) translateY(9px);
    font-size: 10px;
    border-radius: 11px;
  }
.slide .newrank{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-10px);
    z-index: 1;
    color: #ffffff;
    padding: 4px;
    background: linear-gradient(to right, rgb(0, 55, 255), rgb(187, 0, 255));
    font-weight: 800;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    border-radius: 10px;
  }
.slide .newrank i{
    transform: translateY(1.4px);
  }
.slide .hotrank i{
    transform: translateY(1.5px);
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: ease 0.5s;
  }
  
  .slide:hover {
    transform: scale(1.05);
    filter: brightness(110%);
    outline: 4px solid #ffffffa7;
  }
  .categorylist{
    margin-left: 50px;
  }
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 41px;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 1;
    height: 100%;
  }
  .nav-btn.prev {
    left: 0;
    z-index: 9;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .nav-btn.next {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .slider-container .nav-btn i{
    opacity: 0;
    transition: ease 0.2s;
    border-radius: 12px;
  }
  .slider-container:hover .nav-btn i{
    opacity: 1;
    background-color: #ffffffb9;
    pointer-events: auto;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
 .slideshow-container {
      position: relative;
      margin-top: 5px;
      transform: translateX(22px);
      margin-bottom: 23px;
      width: 75%;
      height: 340px;
      border-bottom: 1px solid #474747;
      overflow: hidden;
      transition: ease 0.3s;
    }
.sagtitle{
    padding-top: 60px;
    padding-left: 80px;
    color: #ffffff;
    font-size: 30px;
}
.sagsubtitle{
    padding-left: 80px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 300;
}
.gamesubform{
    padding-left: 80px;
}
.gamesugginput{
    background: #1c1c1c;
    color: #fff;
    padding: 20px;
    margin-right: 10px;
    font-size: 26px;
    border: none;
    width: 390px;
    outline: 1px solid #5f5f5f;
    border-radius: 12px;
}
.gamesuggsubmit{
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    font-size: 22px;
}
    .slidewrapper {
      display: flex;
      transition: transform 0.7s ease-in-out;
      width: 100%; /* 100% per slide × number of slides */
      height: 100%;
    }
    .bannerslide {
      flex: 0 0 100%;
      position: relative;
    }

    .bannerslide .bannerimage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .bannerslide .logothumb{
        height: 80px;
    }
    .slide-text h1{
        font-size: 47px;
        font-weight: 800;
        letter-spacing: -0.5px;
        font-family: 'Cabinet Grotesk', sans-serif;
    }
    .bannerbggradient{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 192, 203, 0));
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      animation: gradientFadeIn 0.8s ease-in;
    }
    .bannerbggradient.fade-out{
        animation: gradientFadeOut 0.8s ease-out;
    }
    .slide-text {
      position: absolute;
      bottom: 60px;
      left: 70px;
      font-size: 20px;
      width: 70%;
      font-weight: bold;
      color: white;
      opacity: 0;
      transform: translateY(20px);
    }
    .slide-text b{
        font-weight: 600;
        font-family: 'Boska', serif;
        font-style: italic;
        font-weight: 600;
    }
    .slide-text.fade-in {
      animation: textFadeIn 0.8s ease-out forwards;
      animation-delay: 0.3s;
    }

    .slide-text.fade-out {
      animation: textFadeOut 0.5s ease-in forwards;
    }

    @keyframes textFadeIn {
      from { opacity: 0; transform: translateX(-30px); }
      to   { opacity: 1; transform: translateY(0); }
    }
    @keyframes gradientFadeIn {
      from { opacity: 0;}
      to   { opacity: 1;}
    }
    @keyframes gradientFadeOut {
      from { opacity: 1;}
      to   { opacity: 0;}
    }

    @keyframes textFadeOut {
      from { opacity: 1; transform: translateY(0); }
      to   { opacity: 0; transform: translateY(0); }
    }
    .slide-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 90%;
    }
    .bannerslide .prev, .bannerslide .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 2rem;
      padding: 10px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 2;
      user-select: none;
    }

    .bannerslide .prev:hover,.bannerslide .next:hover {
      background-color: rgba(0,0,0,0.6);
    }

    .previous {
      left: 20px;
    }

    .nextslide {
      right: 20px;
    }

    .fadebanner {
      animation: fade 1s ease-in-out;
    }
    .banneraction{
        background: #fefefedf;
        border: none;
        font-size: 20px;
        font-weight: 500;
        margin-top: 25px;
        color: #000000;
        border-radius: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        outline: 2px solid #c6c6c675;
        transition: ease 0.3s;
        cursor: pointer;
    }
    .banneraction i{
        transform: scale(1.4) translateY(1px);
        margin-right: 5px;
    }
    .gotmbtntext{
        margin-right: 10px;
        font-size: 22px;
        font-weight: 400;
    }
    .gotmdesc{
        margin-right: 10px;
        font-size: 20px;
        font-weight: 400;
    }
    .gotmtopdiv{
        display: flex;
    }
    .gotmonth{
        background-color: #00000064;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-left: 6px;
        letter-spacing: 1.05px;
        padding: 3px 6px 3px;
        border-radius: 10px;
    }
    .banneraction:hover{
        background: #b1b1b160;
        color: #ffffff;
    }

    .dots {
      position: absolute;
      bottom: 6px;
      width: 100%;
      text-align: center;
      z-index: 2;
    }

    .dot {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin: 0 3px;
      background-color: rgba(255, 255, 255, 0.634);
      border-radius: 11px;
      cursor: pointer;
      transition: 0.3s ease;
    }

    .dot.active {
      background-color: white;
      width: 35px;
    }
.mobiledisplay{
    display: none;

}
.mobilegamenote{
    background-color: #0d0d0d;
    color: #c9c9c9;
    text-align: center;
    outline: 1px solid #4e4e4e;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    transform: translateX(-10px) translateY(-15px);
}
.mobilegamenote h1{
    font-weight: 300;
}
.mobilegamenote b{
    font-weight: 500;
}
.appdownload{
    display: flex;
}
.ubappad{
    width: 1000px;
}
.appqrcode{
    height: 300px;
}
.qrcodebox{
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 50px;
    width: 300px;
    text-align: center;
}
.qrcodebox h2{
    color: #fff;
    font-weight: 400;
    line-height: 36px;
    font-size: 30px;
}
.bottomtext{
    text-align: center;
}
.bottomtext button{
    width: 200px;
    border: none;
    color: #000000;
    font-size: 25px;
    border-radius: 13px;
    height: 48px;
    transition: 0.5s ease;
}
.bottomtext button:hover{
    transform: scale(1.15);
}
.qrdivider{
    margin-top: 0px;
    margin-bottom: 29px;
}
.mobileappconsent{
    display: none;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    color: #3e3e3e;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.441); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; 

  }
/*Mobile phones*/

@media screen and (max-width: 600px) {
    .topbannersavedgames{
        display: none;
    }
     .sidebar{
        display: none;
    }
    .sidebar.close{
        width: 0px;
    }
    #popupOverlay {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateY(-113px);
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.69);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 99999;
      opacity: 0;
      animation: ease-out 0.6s popupAnim;

    }
    #popupOverlay.show {
      opacity: 1;
      pointer-events: all;
    }
    #popupOverlay.show #popup {
      transform: translateY(0);
    }
    #popup {
      object-fit: cover;
      border-radius: 10px;
      text-align: center;
      height: 220px;
      width: 400px;
      border-radius: 12px;
      outline: 1px solid #ffffff3a;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    #closeBtn {
    padding: 6px;
      border: none;
      background: #dcdcdc00;
      outline: 2px solid #ffffff;
      color: rgb(255, 255, 255);
      font-size: 21px;
      cursor: pointer;
      border-radius: 15px;
    }
    #popupAction {
    padding: 6px;
    margin-right: 6px;
      border: none;
      background: #dcdcdc;
      outline: 1px solid #585858;
      color: rgb(0, 0, 0);
      font-size: 21px;
      cursor: pointer;
      border-radius: 15px;
    }
.popupcontrolbuttons{
    text-align: center;
    transform: translateY(-60px);
}
.popupcontrolbuttons i{
    transform: scale(1.3) translateY(1px);
}
.popupimg{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}
    .topbar{
        position: fixed;
        transform: translateY(-57px) translateX(-15px);
        height: 113px;
        z-index: 999;
        backdrop-filter: none;
        width: 100%;
        background-color: #0b0b0bf8;
    }
    .topbar #menuicon{
        color: #dedede;
        transform: translateY(12px);
        margin-right: 45px;
        font-size: 27px;
        z-index: 9999;
        padding: 4px;
        width: 40px;
        outline: 1px solid #353535;
        border-radius: 10px;
        text-align: center;
        background-color: #000000;
        float: right;
    }
    .topbar img{
        height: 42px;
        vertical-align: middle;
        margin-top: 3px;
        margin-left: 35px;
    }
    .topbar .form-search{
        transform: translateY(12px);
        width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
.topbar .form-search input{
    height: 40px;
    width: calc(100% - 50px);
    background-color: #181818;
    border: none;
    outline: 1px solid #464646;
    border-radius: 16px;
    color: #fff;
    transform: none;
    font-size: 19px;
    transition: ease 0.5s;
}
.topbar .form-search .icon{
    color: #fff;
    transform: translateY(10px) translateX(15px);
    font-size: 21px;
    position: absolute;
}
    .right-icons{
        display: none;
    }
    .footer{
        display: none;
    }
    .appdownload{
    display: block;
    }
    .ubappad{
        display: none;
    }
    .qrcodebox{
        display: none;
    }
    .carousels{
        transform: translateY(16px);
        margin-left: 0px;
    }
.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 22px;
  }
  #recentlyPlayedSlider{
    overflow-y: hidden;
  }
   .recentslide {
    flex: 0 0 auto;
    height: 90px;
    width: 140px;
    margin-right: 11px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    outline: 1px solid #6b6a6a;
    transition: ease 0.3s;
  }
    .recentslide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: ease 0.5s;
  }
  
  .recentslide:hover {
    transform: scale(0.9);
    outline: 4px solid #ffffffa7;
    opacity: 90%;
  }
 .slide {
    min-width: 10px;
    flex: 0 0 auto;
    height: 100px;
    width: 170px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    outline: 1px solid #6b6a6a;
    transition: ease 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: ease 0.3s;
  }
  
  .slide:hover {
    transform: scale(0.9);
    filter: brightness(110%);
    outline: 4px solid #ffffffb7;
  }
  #trendslide:hover{
    transform: scale(0.9);
    outline: 4px solid #ffffff52;
  }
  #trendslide img{
    opacity: 90%;
  }
  .slide .hotrank{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-10px);
    z-index: 1;
    color: #ffffff;
    padding: 4px;
    background: linear-gradient(to right, rgb(255, 149, 0), rgba(255,0,0,1));
    font-weight: 800;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    border-radius: 10px;
  }
  .captionnew{
    position: absolute;
    color: #000000;
    padding: 3px;
    background: linear-gradient(to right, rgb(194, 207, 255), rgb(233, 179, 255));
    font-weight: 700;
    outline: 1px solid #737373;
    transform: translateX(9px) translateY(9px);
    font-size: 10px;
    border-radius: 11px;
  }
.slide .newrank{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-10px);
    z-index: 1;
    color: #ffffff;
    padding: 4px;
    background: linear-gradient(to right, rgb(0, 55, 255), rgb(187, 0, 255));
    font-weight: 800;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    border-radius: 10px;
  }
.slide .newrank i{
    transform: translateY(1.4px);
  }
.slide .hotrank i{
    transform: translateY(1.5px);
  }
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 41px;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 1;
    height: 100%;
  }
  .nav-btn.prev {
    left: 0;
    z-index: 9;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .nav-btn.next {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .slider-container .nav-btn i{
    opacity: 0;
    transition: ease 0.2s;
    border-radius: 12px;
  }
  .slider-container:hover .nav-btn i{
    opacity: 1;
    background-color: #ffffffb9;
    pointer-events: auto;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  .slider-container {
    position: relative;
    width: calc(100% - 10px);
    overflow: hidden;
    display: flex;
  }
.hometext .category{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 15px;
}
.hometext .category i{
    transform: translateY(1px);
}
.hometext .viewallbtn{
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 21px;
    color: #000;
    background-color: #dadada;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
}
.hometext .viewallbtn:hover{
    transform: scale(0.95);
    background-color: #bebebe;
    cursor: pointer;
}
    .qrdivider{
        display: none;
    }
    .bottomtext button{
        margin-top: 20px;
        transform: translateY(40px);
    }
    .bottomtext button:hover{
        margin-top: 20px;
        transform: translateY(40px) scale(1.1);
    }
    .gameframe h1{
        display: none;
    }
    .gameframe .ad-box{
        display: none;
    }
    .game-controls{
        display: none;
    }
    .azadbanner{
        display: none;
    }
    .control-buttons{
        display: none;
    }
.letterselector{
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
}
.letterselector .lettericon{
    width: 29px;
    height: 35px;
    font-size: 26px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 1px;
    border-radius: 8px;
    vertical-align: middle;
    color: #c2c2c2;
    text-align: center;
    outline: 1px solid #4c4c4c;
    background-color: #222222;
    cursor: pointer;
    transition: ease 0.3s;
}
.letterselector .lettericon:hover{
    background-color: #5c5c5c;
    width: 29px;
    margin-bottom: 1px;
}
.letterselector .lettericonactive{
    width: 30px;
    height: 35px;
    font-size: 26px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 1px;
    border-radius: 8px;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    cursor: default;
}
.gameslist hr{
    border-top: 1.5px solid #ffffff44;
    border-bottom: 1.3px solid #ffffff44;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 1px;
}
.gameslist .gameletter{
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Cabinet Grotesk', sans-serif;
}
.homepage{
    transform: translateY(56px);
    top: 0;
    margin: none;
    left: 0px;
    width: 100%;
}
.scroll-container{
    margin-left: 0px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 13px;
  }
  .scroll-container img {
    position: relative;
    object-fit: cover;
    margin-left: 11px;
    border-radius: 21px;
    outline: 1px solid #505050;
    height: 90px;
    width: 150px;
    transition: .4s ease;
}
.scroll-container img:hover{
    cursor: pointer;
    opacity: 0.9;
    outline: #ababab solid 4px;
    transform: scale(1.05);
    transition: 0.4s ease;
}
.scroll-container #longimg:hover{
    cursor: pointer;
    opacity: 0.9;
    outline: #e4e4e4 solid 3.5px;
    transform: scale(1.025);
    transition: 0.5s ease;
}
.categorylist{
    margin-left: 0px;
  }
.categorypagetitle{
    color: #fff;
    font-size: 25px;
    transform: translateY(10px);
    margin-left: 30px;
    font-family: 'Cabinet Grotesk';
    font-weight: 800;
}
.gameframe{
    position: fixed;
    display: block;
    overflow-y: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.game-wrapper{
    height: calc(100vh - 113px);
    width: 100%;
    margin: 0px;
    overflow-y: hidden;
}
.game-wrapper .game{
        margin: 0px;
        padding: 0px;
        position: fixed;
        height: 100%;
        width: calc(100% + 24px);
        border-radius: 0px;
        transform: translateX(-24px);
        background-color: #101010c8;
    }
    .mobhometitle{
        color: #fff;
        font-size: 30px;
        margin-bottom: 18px;
        font-weight: 800;
        font-family: 'Cabinet Grotesk', sans-serif;
        letter-spacing: -0.3px;
    }
    .mobhomesubtitle{
        color: #b3b3b3;
        font-size: 20px;
        transform: translateY(-4px);
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
    .gamerow{
        width: 100%;
        display: flex;
        margin-bottom: 7px;
    }
    .gamerowlong{
        width: 100%;
        margin-bottom: 7px;
    }
    .gamerowlong .gameimg{
        height: 155px;
        width: 100%;
        outline: 1px solid #585858;
        border-radius: 23px;
        object-fit: cover;
    }
    .gamerow .gameimg{
        height: 130px;
        outline: 1px solid #585858;
        width: calc(50% - 5px);
        margin-top: 3px;
        margin-right: 10px;
        border-radius: 25px;
        object-fit: cover;
    }
    .azadbanner{
        display: none;
    }
.gameslist{
    padding: 15px;
}
.gameslist .azgame{
    background-color: #44444447;
    margin-left: 0px;
    margin-bottom: 12px;
    margin-right: 10px;
    outline: 1px solid #363636;
    height: 80px;
    border-radius: 20px;
    padding-right: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
}
.gameslist .azgame:hover{
    transform: scale(0.95);
    outline: 2px solid #fff;
}
.gameslist .azgame .azgameicon{
    float: left;
    height: 100%;
    width: 25%;
    padding: 15px;
    border-radius: 20px;
    object-fit: cover;
}
.gameslist .azgame .azgametitle{
    padding-top: 23px;
    padding-bottom: 3px;
    color: #fff;
    font-weight: 600;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 26px;
    letter-spacing: -0.7px;
}
.gameslist .azgame .azgamedesc{
    display: none;
}
.gameslist .azgame .azcategories{
    display: none;

}
.gameslist .azgame .azcategories .info{
    background-color: #323232;
    padding: 5px;
    border-radius: 9px;
    margin-right: 2px;
}
.gameslist .letter{
    display: absolute;
    text-align: center;
    transform: translateY(20px);
    border-radius: 15px;
    margin-bottom: -50px;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.gameslist .aztitle{
    color: #fff;
    transform: translateY(5px);
    margin-left: 0px;
    padding: 10px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -0.7px;
}
    .ad-box{
        display: none;
    }
    .gameadbox{
        display: none;
    }
    .gameazbanner{
        display: none;
    }
    #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    transition: opacity 0.5s ease;
}
.loadingimg{
    height: 50px;
}
}
/*Larger screens*/

@media screen and (min-width: 1420px) {
    .game-wrapper .game{
        height: 560px;
        width: 900px;
    }
    .gameframe .ad-box{
        margin-top: 320px;
        transform: translateX(-237px);
        background-color: #1a1a1a;
        border-radius: 15px;
        width: 270px;
        height: 236px;
    }
    .game-controls .age-rating{
    color: #fff;
    margin-left: 20px;
    padding: 4px;
    cursor: default;
    border-radius: 10px;
    padding-inline: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    background-color: #1e1e1e;
}
.game-controls .tags{
    display: flex;
    position: inline-block;
}
.game-controls .category{
    color: #fff;
    margin-left: 10px;
    padding: 4px;
    cursor: default;
    border-radius: 10px;
    padding-left: 10px;
    padding-inline: 12px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    background-color: #1e1e1e;
}
.control-buttons{
    display: flex;
    position: inline-block;
}
.game-controls button{
    margin-top: 40px;
    transform: translateX(20px);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 12px;
    font-size: 21px;
    border: none;
    color: #fff;
    outline: 1px solid #363636;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: ease 0.3s;
}
.game-controls h1{
    margin-left: 20px;
    transform: translateY(30px);
    width: 230px;
    font-size: 33px;
    color: #fff;
    font-weight: 500;
}
}